
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_USERNAME=root
MONGO_PASSWORD=change_me
MONGO_DATABASE=mle_db
MONGO_COLLECTION=predictions
MONGO_AUTH_SOURCE=admin


FLASK_ENV=production
FLASK_HOST=0.0.0.0
FLASK_PORT=55566
LOG_LEVEL=INFO


MODEL_PATH=experiments/log_reg.sav


DEBUG_MODE=False
